{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the Universal Credit contract ID/claim live? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<form class="form" action="contract-id-claim-live-check" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          {{ govukRadios({
            name: "contract-id-claim-live-check",
            fieldset: {
            legend: {
              text: "Is the Universal Credit contract ID/claim live?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "ERT can only work on live contract ID's / claims"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      

    </div>
  </div>

  </form>

{% endblock %}
