{% extends "layouts/main.html" %}

{% block pageTitle %}
 You need to submit a fraud referral - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}


{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You need to submit a fraud referral</h1>
       
        <p>The claim must be live to submit an ERT referral.</p>


        {{ govukButton({
          text: "Submit a fraud referral",
          href: "who-do-you-want-to-report"
        }) }}
      
        
    </div>
    </div>
  

  
  

{% endblock %}
