{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the reason for the review? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


<form class="form" action="nino" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          {{ govukRadios({
            name: "review-reason",
            fieldset: {
            legend: {
              text: "What is the reason for the review?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "PIP Detect in payment referral",
              text: "PIP Detect in payment referral",
              hint: {
                text: "For ringfenced TAG team use only"
              }
            },
            {
              value: "PIP Prevent pre-payment referral",
              text: "PIP Detect in payment referral"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      

    </div>
  </div>

  </form>

{% endblock %}
