{% extends "layouts/main.html" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
        dwpHeader({
            serviceName: "Service name",
            serviceHref: '#',
            container: true
        })
}}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
        dwpHeader({
            serviceName: "Service name",
            serviceHref: '#',
            container: true
        })
}}

{% from "timeline/macro.njk" import dwpTimeline %}

<h1 class="govuk-heading-l">Events</h1>
{{
        dwpTimeline({ 
            items: [
                {
                    title:  "Completed ‘DP224JP’ form received",
                    byline:  "System",
                    date:  "16 June 2024 at 1:00am"
                },
              
                {
                    title:  "Summary of report including recommendations, suppliers and costs sent to claimant",
                    byline:  "John Goldsmith",
                    date:  "1 June 2024 at 7:14am"
                },
                {
                    title:  "Workplace assessment report",
                    byline:  "John Goldsmith",
                    link: {
                        href: "#",
                        text: "View details",
                        visuallyHiddenText: "of the event on 15 May 2024 at 4:01pm"
                    },
                    date:  "15 May 2024 at 4:01pm"
                },
               
               
                {
                    title:  "Workplace assessment",
                    byline:  "John Goldsmith",
                    description: {
                        text: "Agreed with the claimant that a workplace assessment is required and confirmed assessor visit on 5 May 2024 at 9:45am – confirmation letter sent"
                    },
                    date:  "26 April 2024 at 12:42pm"
                },
               
              
                {
                    title:  "Update to: Health condition or disability",
                    byline:  "Jane Doe",
                    link: {
                        href: "#",
                        text: "View details",
                        visuallyHiddenText: "of the event on 21 April 2024 at 1:12pm"
                    },
                    date:  "21 April 2024 at 1:12pm"
                },
                {
                    title:  "Telephone call made",
                    byline:  "Jane Doe",
                    description: {
                        text: "A telephone call was made to the claimant requesting further information to support the claim"
                    },
                    link: {
                        href: "#",
                        text: "View details",
                        visuallyHiddenText: "of the event on 21 April 2024 at 10:15am"
                    },
                    date:  "21 April 2024 at 10:15am"
                },
                {
                    title:  "Text message (SMS) sent",
                    byline:  "Jane Doe",
                    description: {
                        text: "SMS was sent to the claimant to inform them that we require further information and will be in contact on 21 April 2024"
                    },
                    date:  "19 April 2024 at 10:58am"
                },
             
             
                {
                    title:  "Health condition or disability ",
                    byline:  "Jane Doe",
                    description: {
                        text: "Contact needed for more information"
                    },
                    date:  "16 April 2024 at 9:00am"
                },
               
                {
                    title:  "Check personal details and add National Insurance number task",
                    byline:  "Jane Doe",
                    date:  "28 March 2024 at 9:12am"
                },
                {
                    title:  "Application received",
                    date:  "12 March 2024 at 3:00pm"
                }
        ]
        })
}}


{% endblock %}
