{% extends "layouts/main.html" %}

{% block pageTitle %}
  What kind of referral are you making? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<form class="form" action="referral-type" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          {{ govukRadios({
            name: "referral-type",
            fieldset: {
            legend: {
              text: "What kind of referral are you making?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "A fraud referral",
              text: "A fraud referral"
            },
            {
              value: "An ERT referral",
              text: "An Enhanced Review Team (ERT) referral"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      

    </div>
  </div>

  </form>

{% endblock %}
