{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


     <h1 class="govuk-heading-xl">
      Fraud referral form (FRF) prototypes - 7.8.26
    </h1>

    
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

     



      <!-- Start of prototype 1 accordion-->
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              First prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <dl>
              <dt class="govuk-heading-s">Date created</dt>
              <dt class="govuk-body">August 2025</dt>
              {{govukTag({
                text: "In progress",
                classes: "govuk-tag--blue"
              })}}
            </dl>
            <dl>
              <dt class="govuk-heading-s"><a href="https://lucid.app/lucidspark/6c620bd0-7ed0-4c8a-836d-fa66524032e6/edit?invitationId=inv_6fd89a7f-fcbb-48e2-af9a-15b6dd295d2d&page=0_0#" target="_blank">Lucid board - ERT Context from Design & Innovation Team</a></dt>
              <dt class="govuk-heading-s"><a href="https://lucid.app/lucidspark/81404e3c-c0ec-46e6-8098-a394fd05055a/edit?invitationId=inv_757d7a85-f559-4875-9161-0bc24244e8c8&page=0_0#" target="_blank">Lucid board - Team Nemo UCD board</a></dt>
              <dt class="govuk-heading-s"><a href="https://lucid.app/lucidspark/6b4c6c27-7765-4948-9c9e-456cf78602d6/edit?beaconFlowId=AD6892E8BF4A34FB&invitationId=inv_58ec0abd-80d1-4178-a337-bdeaf60375d1&page=0_0#" target="_blank">Lucid board - ERT/FRF user research</a></dt>
            </dl>
            <dl>
              <dt class="govuk-heading-s">What it is</dt>
              <dt class="govuk-body">First prototype for the revised DWP staff fraud referral form (FRF). The current Enhanced Review Team (ERT) form was a tactical solution deployed rapidly during the pandemic, it is hosted on the DWP intranet and is due to be decommissioned towards the end of 2026. The ERT form will be integrated into the FRF form to move the business closer to the end goal of a single place for staff fraud referrals. The current FRF form incorrectly replicates the look and feel of GOV.UK using the crown logo and the transport font, this prototype has been styled correctly for an internal DWP service.</dt>
            </dl>
            <dl>
              <dt class="govuk-heading-s">Hypotheses to test</dt>
              <dt class="govuk-body">To be added...</dt>
            </dl>

            <a href="prototype1/frf-start" class="govuk-button govuk-button--start">Start prototype</a>

            <table class="govuk-table govuk-!-margin-bottom-9">
              <caption class="govuk-table__caption govuk-table__caption--m">Page list</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Link</th>
                  <th scope="col" class="govuk-table__header">Error page</th>
                  <th scope="col" class="govuk-table__header">Notes</th>
                  <th scope="col" class="govuk-table__header">Confidence</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/frf-start" class="govuk-link govuk-link--no-visited-state">Start page</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/acknowledge" class="govuk-link govuk-link--no-visited-state">Making a fraud referral</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/what-referral-type" class="govuk-link govuk-link--no-visited-state">Referral type</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">Branching question to redirect users to the current FRF form or the newly merged ERT form.</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/who-do-you-want-to-report" class="govuk-link govuk-link--no-visited-state">Who do you want to report?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">First page of the existing FRF form, no further pages from the current FRF have been added to this prototype.</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/what-is-your-role" class="govuk-link govuk-link--no-visited-state">What is your role?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/review-reason-universal-credit-work-coach" class="govuk-link govuk-link--no-visited-state">What is the reason for the review? - UC work coach</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">Hard coded redirects on this page to specific review reason pages based on role type radio selected on previous page.</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/review-reason-ucr-agent" class="govuk-link govuk-link--no-visited-state">What is the reason for the review? - UCR agent &amp; Other</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/review-reason-cfcd-investigations" class="govuk-link govuk-link--no-visited-state">What is the reason for the review? - CFCD Investigations or IRIS MO</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/review-reason-pip-case-manager" class="govuk-link govuk-link--no-visited-state">What is the reason for the review? - PIP Case Manager</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/review-reason-tag-team" class="govuk-link govuk-link--no-visited-state">What is the reason for the review? - TAG Team</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/review-reason-compliance-officer" class="govuk-link govuk-link--no-visited-state">What is the reason for the review? - Compliance Officer</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/contract-id-nino" class="govuk-link govuk-link--no-visited-state">Contract ID and National Insurance number</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/nino" class="govuk-link govuk-link--no-visited-state">What is their National Insurance number?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">For PIP only cases.</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/assessment-period-end-date" class="govuk-link govuk-link--no-visited-state">What is the end date of the assessment period?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">Considered using <a href="https://design-patterns.service.justice.gov.uk/components/date-picker/">MOJ Date Picker component</a> for this page as dates likely to be not too far in the future. Decided against installing MOJ frontend as not worth the risk of breaking the prototype due to the ongoing GitLab deployment issues.</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/additional-information" class="govuk-link govuk-link--no-visited-state">Additional information</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/submitters-details" class="govuk-link govuk-link--no-visited-state">Submitter's details</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check your answers</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/prototype1/confirmation" class="govuk-link govuk-link--no-visited-state">Referral submitted</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
               
              </tbody>
            </table>

        </div>
      </div>
      <!-- End of prototype 1 accordion -->
    
    </div>


  </div>

 
</div>



{% endblock %}
